.nav-expand-link {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.nav-expand-link::after {
    font-family: 'Material Icons';
    content: 'chevron_right';
    -webkit-box-flex: 0;
    flex: 0 1 auto;
}

.nav-back-link {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: flex-start;
}

.nav-back-link::before {
    font-family: 'Material Icons';
    content: 'chevron_left';
    -webkit-box-flex: 0;
    flex: 0 1 auto;
}

.mobile-nav-home-link::before {
    font-family: 'Material Icons';
    content: 'home';
    padding-right: 10px;
}

.hamburger-search-wrap {
    display: flex;
    align-content: space-between;
    height: 35px;
    width: 100%;
    /* background-color: blue; */
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.tempSearch {
    margin: 0 0 0 10px;
    padding: 5px 0;
    border: 1px solid black;
}

