:host {
  width: 100%;
}

.card-profile-image {
  width: 410px;
  height: 436px;
  padding: 0;
}

.card-profile-image.image-loaded .profile-image {
  width: 410px;
  height: 436px;
  object-fit: cover;
  object-position: 20% 0;
}

@media only screen and (max-device-width: 812px) {
  .page-inner {
    padding: 0;
  }

  .card-profile-image {
    width: 375px;
    height: 400px;
  }
  
  .card-profile-image.image-loaded .profile-image {
    width: 375px;
    height: 400px;
  }
}