<section class="category-section">
  <div class="container-header">{{ headerTitle }}</div>
  <app-client-header *ngIf="showClientHeader"></app-client-header>
  <div class="container">
    <div
      *ngFor="
        let employee of filtered
          | searchEmployees : 'firstname,lastname,title' : searchText
      "
      class="tile image-loaded"
    >
      <a [routerLink]="['/employee', employee.employeeid]">
        <img width="256" height="384" src="{{ employee.tileimageurl }}" />
      </a>
      <div class="profile-summary">
        <h5>{{ employee.firstname }} {{ employee.lastname }}</h5>
        <h6>{{ employee.title }}</h6>
      </div>
    </div>
  </div>
</section>
