:host {
  width: 100%;
}

@media (max-width: 992px) {
  .page-inner { padding-top: 31px; }
}

  /* @media (max-width: 992px) {
    .container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    } */

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/