<p>Champion a Cause is an Ingage giving program that encourages employees to be ambassadors of a non profit organization
    of their choice.</p>
<br />
<!-- <input [(ngModel)]="searchText" placeholder="find a cause"> -->
<div class="search-bar" *ngIf="showSearchBar">
    <input type="text" [ngModel]="searchText" #box (keyup)="onKey(box.value)" id="search-bar" placeholder="Find a cause" value="" style="border-color: rgb(16, 16, 16);">
    <button type="button" id="mobile-cancel" (click)="clearSearchField()">CANCEL</button>
</div>

<button>Search Champions</button><button>Search Causes</button>

<ul class="list">
    <li class="list-item" *ngFor="let champion of employees">
        <div class="list-content">
            <div class="list-title">{{champion.firstname}} {{champion.lastname}}</div>
            <p>{{champion.champion}}</p>
        </div>
    </li>
</ul>