<p>Champion a Cause is an Ingage giving program that encourages employees to be ambassadors of a non profit organization
    of their choice.</p>
<br />
<label>Sort By </label>
<select class="championSelect" (change)="filterChampion($event.target.value)">
    <option value='cause'>Cause</option>
    <option value='name'>Employee Name</option>
</select>

<ul class="list">
    <li class="list-item"
        *ngFor="let champion of employees | searchEmployees:'firstname,lastname,champion,title':searchText">
        <div class="list-content">
            <div class="list-title">{{champion.champion}}</div>
            <div>
                <a [routerLink]="['/employee', champion.employeeid]">
                    {{champion.firstname}} {{champion.lastname}}
                </a>
            </div>
        </div>
    </li>
</ul>