:host {
  width: 100%;
}

@media (max-width: 992px) {
  .page-inner {
    padding-top: 58px;
  }
}


.border-left-ingage-purple {
  border-left: 0.25rem solid #714885 !important;
  }


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
