<div id="dashboard">
    <app-side-bar *ngIf="this.loginService.isLoggedIn"></app-side-bar>

    <div class="container">
        <div class="page-wrap">
            <div class="header" *ngIf="this.loginService.isLoggedIn">
                <app-mobile-menu class="mob-nav"></app-mobile-menu>
                <div class="title">{{ pageTitle }}</div>
                <app-search-bar></app-search-bar>
                <app-user-tools style="margin-left: auto;"></app-user-tools>
            </div>

            <div class="page-inner">
                <div class="page-content">
                    <router-outlet (activate)="onActivate($event)"></router-outlet>
                </div>
            </div>
        </div>

    </div>
</div>