<div class="container">
    <h1>Edit Employee Form</h1>  
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label>
          First name: 
            <input type="text" formControlName="firstname" class="form-control">
        </label>
        <div>
        <label>
          Last name: 
            <input type="text" formControlName="lastname" class="form-control">
        </label>
        </div>
        <div>
          <label>
            Title: 
              <input type="text" formControlName="title" class="form-control">
          </label>
        </div>
        <div>
          <label>
            Practice Area: 
              <input type="text" formControlName="practicearea" class="form-control">
          </label>
          </div>
        <div>
          <label>
            Client: 
              <input type="text" formControlName="client" class="form-control">
          </label>
        </div>
        <div>
          <label>
            Mentor: 
              <input type="text" formControlName="coach" class="form-control">
          </label>
        </div>
        <div>
          <label>
            Mobile: 
              <input type="text" formControlName="mobilephone" class="form-control">
          </label>
        </div>
        <div>
          <label>
            Email: 
              <input type="text" formControlName="email" class="form-control">
          </label>
        </div>
        <div>
          <label>
            Champion a cause: 
              <input type="text" formControlName="champion" class="form-control">
          </label>
        </div>
        <div>
          <label>
            Birthday: 
              <input type="text" formControlName="birthday" class="form-control">
          </label>
        </div>
        <div>
          <label>
            Ingagaversary: 
              <input type="text" formControlName="anniversary" class="form-control">
          </label>
        </div>
        <div>
          <label>
            HDBI blue: 
              <input type="text" formControlName="hbdiblue" class="form-control">
          </label>
        </div>
        <div>
          <label>
            HDBI green: 
              <input type="text" formControlName="hbdigreen" class="form-control">
          </label>
        </div>
        <div>
          <label>
            HDBI red: 
              <input type="text" formControlName="hbdired" class="form-control">
          </label>
        </div>
        <div>
          <label>
            HDBI yellow: 
              <input type="text" formControlName="hbdiyellow" class="form-control">
          </label>
        </div>
      </div>
      <button class="btn btn-success" (click)="acceptChanges()">Accept changes</button>
    </form>
</div>
